img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
body {
    color: yellowgreen;
}
.unimportant {
    color: blue;
}
h3 {
    color: Black;
}
p:hover, .column:hover, .cat:hover {
    background-color: black;
}